* {
    margin: 0;
    padding: 0;
}
.strTable {    
    width: 200px;
    height: 35px;
    background-color: rgb(141, 221, 173);
    color: rgb;    
    text-align: center;    
}
.operButton {    
    border: 1mm ridge rgb(141, 221, 173);    
    margin-bottom: 15px;
}
.table .itemsTable {     
    width: 800px;
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;      
}
.itemsTable { 
    margin-bottom: 20px;      
}


